<input type="text" [(ngModel)]="title">
{{title}}
<app-product></app-product>

<div *ngIf="title === 'sebastian' || title === 'Sebastian'">
  <p>Hola Sebastian</p>
</div>

<div>
  <div>
    <button (click)="addItem()">Add Item</button>

  </div>
  <ul>
    <li *ngIf="listNames.length === 0">
      La lista esta vacia
    </li>
    <li *ngFor="let dato of listNames; index as i">
     {{i+1}} {{ dato }}
     <button (click)="deleteItem()">Delete</button>
    </li>
  </ul>
</div>

<div *ngFor="let product of products">
  {{ product.title }}
  <!-- Usamos [] para permitir modificar la variable src
  y asi poder reasignar su valor (Property Binding)-->
  <img [src]="product.image" alt="product">
  {{ product.price }}
  {{ product.description }}
</div>