/* You can add global styles to this file, and also import other style files */
/* Configuracion antes de aplicar ANGULAR MATERIAL
body {
    margin: 0px;
    padding: 0px;
}
*/
.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px ;
}
//@ Media permite manejar la cantidad de 
// componentes que se veran en pantalla segun su
// tamaño
@media(min-width:576px){
    .product-grid{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 10px;
    }
    .container {
        max-width: 1110px;;
        padding-right: 16px;
        padding-left: 16px;
    }
}
/*

@media(min-width:0px){
    .product-grid{
        background-color: pink;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(min-width:576px){
    .product-grid{
        background-color: yellow;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:768px){
    .product-grid{
        background-color: blue;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width:992px){    
    .product-grid{
        background-color: red;
        grid-template-columns: repeat(4, 1fr);
    }
}

*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}